 *{
    margin: 0;
    padding: 0;
    text-align: center;
 }

 h1{
    background-color: rgb(13, 13, 68);
    color: white;
    line-height: 5rem;
    height: 5rem;
    


 }

 .choice{
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
 }


 img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 93px;
    

 }
 .choices{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    
 }

 .choice:hover{
    cursor: pointer;
    background-color: black;
 }
 .score-board{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
 }

 #user-score, #comp-score{
    font-size: 3rem;

 }

 .msg-container{
    margin-top: 5rem;
 }
 #msg{

    background-color: rgb(13, 8, 64);
    color: white;
    font-size: 3rem;
    display: inline;
    padding: 2rem;
    border-radius: 2rem;


 }